<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Stock Algos Home</title>
  <meta name="description" content="Stock algorithms homepage">
  <meta name="author" content="Edward">
  <!-- <link rel="stylesheet" href="/css/style.css"> -->
</head>
<body>
  <header>
    <h1>Stock Algos Site Homepage</h1>
    <h3>Features to implement:</h3>
    
  </header>
  <main>
    <ol>
        <li>Stock chart for single stock, start with Apple (AAPL)</li>
        <li>Apply moving average atrategy (with 20ma and 40ma) to a stock</li>
        <li>Make stock viewer adaptable to be able to choose any stock chart to render (from a dropdown)</li>
    </ol>

    <ul>
      <li><a href="/stocks/">Strategies Viewer Homepage</a></li>
      <li>add links to other pages when created</li>
    </ul>
    <!-- {% block content %}
    {% endblock %} -->
  </main>
  <!-- <footer>
    <p>Copyright {{ year }}</p>
  </footer> -->
</body>
</html>
