<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Stock Algos Home</title>
  <meta name="description" content="Stock algorithms homepage">
  <meta name="author" content="Edward">
  <link rel="shortcut icon" href="#" />
  <!-- <link rel="stylesheet" href="/css/style.css"> -->
</head>
<body>
  <header>
    <h1>Strategies Viewer Page</h1>
    <h3>Features to implement:</h3>
    
  </header>
  <main>
    <ol>
      <li>Add options to view </li>
      <li>More in-depth stock chart for single stock, start with Apple (AAPL)</li>
      <li>Apply a strategy of choide (select from a dropdown menu) to the stock</li>
      <li>Allow two stocks to be shown on the same chart (with bias removed and variance normalised?)</li>
      <li>Peform pairs trading on these two stocks, then expand to other algorithms</li>
    </ol>

    <h2>Chart Experimentation in Progress Below :D</h2>

    <div style="width: 600px;">
      <canvas id="stockchart"></canvas>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script>
      const ctx = document.getElementById('stockchart');

      var time = {{ time|safe }};
      var y_axis = {{ y_axis|safe }};
      var ticker = "{{ ticker | safe }}";

      (async function() {

        new Chart(
          ctx,
          {
            type: 'line',
            options: {
              animation: false,
              elements: {
                point:{
                    radius: 0
                  },
                },
              plugins: {
                title: {
                  display: true,
                  text: ticker + ' Stock Chart'
                },
                legend: {
                  display: false
                },
                tooltip: {
                  //enabled: false
                }
              }
            },
            data: {
              labels: time,
              datasets: [
                {
                  label: 'Closing price ($)',
                  data: y_axis,
                  borderColor: '#FF6384',
                  borderWidth: 2,
                }
              ]
            }
          }
        );
      })();
    </script>

    <h2>Debugging Space</h2>
    <ul>
      <li>Add debugging variable here</li>
    </ul>

    <h2>Other page links</h2>

    <ul>
      <li><a href="..">Stock Algo Site Homepage</a></li>
      <li><a href="./">Stock Strategies Section Homepage</a></li>
    </ul>
    
  </main>
  <!-- <footer>
    <p>Copyright {{ year }}</p>
  </footer> -->
</body>
</html>
