{% extends 'Strategies_Viewer/template.html' %}

{% block content %}
<h1>Algorithms Homepage</h1>
<h3>Features to implement:</h3>

<ol>
    <li>More in-depth stock chart for single stock, start with Apple (AAPL)</li>
    <li>Apply a strategy of choide (select from a dropdown menu) to the stock</li>
    <li>Allow two stocks to be shown on the same chart (with bias removed and variance normalised?)</li>
    <li>Peform pairs trading on these two stocks, then expand to other algorithms</li>
</ol>

{% endblock %}